@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="main-content">
        <article class="content">
            @Body
        </article>
    </main>
</div>